
:root {
    --color-primary: rgb(228, 213, 187);
    --color-secondary: #333333;
    --color-tertiary: white;
    --text-color-light: white;
    --text-color-dark: black;
}

body {
    background-color: var(--color-primary);
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
    font-size: clamp(2.5rem, 6vw, 6rem);
  }
h2 {
    font-size: clamp(2rem, 5vw, 6rem);
  }
h3 {
    font-size: clamp(2rem, 4.5rem, 5rem);
}
h4 {
    font-size: clamp(2rem, 4vw, 4rem);
}
h5 {
    font-size: clamp(1.5rem, 3vw, 3rem);
}
h6 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}
p {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}


.navbar {
    background-color: rgba(255, 255, 255, 0) !important;
    height: 100px;
    z-index: 2;
    justify-content: center !important;
}

.navbar-container {
    justify-items: center;
}

.hero-banner img {
    width: 100%;
    height: calc(100vh - 25px);
    position: absolute;
    object-fit: cover;
    margin-top: -100px;
    z-index: 1;
}

.hero-banner .card-container {
    display: flex;
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-items: flex-end;
}

.hero-banner .card-body {
    top: 50%;
    transform: translateY(35%);
    text-align: center;
}

.hero-banner .card-hero {
    background-color: var(--color-secondary);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 70vh;
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

.hero-banner h3 {
    color: var(--text-color-light);
    animation-name: color-change-text;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

@keyframes color-change {
    0% {background-color: var(--color-secondary);}
    50% {background-color: var(--color-primary);}
    100% {background-color: var(--color-secondary);}
}

@keyframes color-change-text {
    0% {color: var(--text-color-light);}
    50% {color: var(--text-color-dark);}
    100% {color: var(--text-color-light);}
}

/* Skill Section */

.skill-wrapper {
    width: 100%;
    background-color: var(--color-secondary);
    padding: 100px 10%;
    margin-top: 8vh;
}

.card-skill {
    padding: 30px;
}

.card-skill .card-container {
    background-color: var(--color-primary);
    aspect-ratio: 1/1;
    border: none;
    color: var(--text-color-dark);
    text-align: center;
    border-radius: 50% ;
}

.card-skill .card-body {
    text-align: center;
    top: 50%;
    transform: translateY(25%);
}

/* WORK SECTION */

.work-wrapper {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-work {
    padding: 2%;
   
}

.card-work .card-container {
    border-radius: 50% ;
    transition: transform .2s;
    border: none;
}

.card-img {
    aspect-ratio: 1/1;
    border-radius: 50% ;
    filter: opacity(40%);
    background-color: white;
}

.card-work .card-content {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    width: 100%;
    justify-items: center;
}

.card-work .card-title {
    color: var(--text-color-light);
}

/* Work Section Effects */
.card-work .card-container:hover {
    transform: scale(1.1);
}



.card-work .card-container:hover .card-title,
.card-work .card-container:hover .card-text {
   color: var(--text-color-dark);
}

.card-container:hover .card-img {
    filter: grayscale(100%);
    filter: opacity(100%);
}

/* About Section */

.about-wrapper {
    width: 100%;
    background-color: var(--color-secondary);
    color: var(--text-color-light);
    text-align: right;
    padding-left: 10%;
    padding-right: 10%;
    height: calc(100vh - 25px);
    align-content: center;
}

.about-container {
    height: calc(100vh - 25px);
    align-items: center;
}

.about-image-container {
    padding-left: 70px;
}

.about-image {
    border-radius: 50%;
    border: none;
    
}

.about-image img {
    border-radius: 50%;
    border: none;
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 60%;
}

/* CONTACT SECTION */

.contact-wrapper {
    width: 80%;
}

.contact-links {
    display: flex;
    min-height: 5rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 0px 20px;
}

.icon img {
    max-height: 70px;
}

.icon img:hover {
    transform: scale(1.2);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .card-skill {
        padding: 20px; 
    }

    .card-skill .card-body {
        transform: translateY(20%);
    }
}

@media screen and (max-width: 1024px) {
    .hero-banner .card-body {
        top: 50%;
        transform: translateY(30%);
    }
    .about-wrapper {
        height: 80vh;
    }
    
    .about-container {
        height: 80vh;
    }
    
    .about-image-container {
        padding-left: 30px;
    }
   
    .card-skill {
        padding: 10px; 
    }

    .card-skill .card-body {
        top: 50%;
        transform: translateY(18%);
    }
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: clamp(4rem, 4vw, 5rem);
      }
    h5 {
    font-size: clamp(2.5rem, 3vw, 3rem);
    }
    p {
    font-size: clamp(1rem, 1vw, 2rem);
    }

    .hero-banner .card-body {
        top: 50%;
        transform: translateY(32%);
    }

    .hero-banner .card-hero {
        width: 80%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .about-wrapper {
        height: 100vh;
    }

    .about-container {
        height: 90vh;
        padding: 20px;
    }

    .about-container h4 {
        text-align: center;
    }

    .about-image {
        height: 80%;
    }

    .about-image-container {
        padding: 30px;
    }
    
    .card-skill {
        padding: 10px; 
    }

    .card-skill .card-body {
        top: 50%;
        transform: translateY(35%);
    }

    .card-work .card-container:hover {
        transform: scale(1.03);
    }
}

@media screen and (max-width: 620px) {
    h3 {
        font-size: clamp(3rem, 3vw, 4rem);
      }
    }

@media screen and (max-width: 480px) {
    h3 {
        font-size: clamp(2rem, 2vw, 3rem);
      }
    h5 {
    font-size: clamp(2.5rem, 3vw, 3rem);
    }
    p {
    font-size: clamp(1rem, 1vw, 2rem);
    }

    .hero-banner .card-body {
        top: 50%;
        transform: translateY(32%);
    }

    .hero-banner .card-hero {
        width: 80%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .card-skill {
        padding: 10px; 
    }

    .card-skill .card-body {
        top: 50%;
        transform: translateY(25%);
    }

    .card-work .card-container:hover {
        transform: scale(1.03);
    }
}



