
:root {
    --primary-color: #303030;
    --text-color-light: white;
}

body {
    background-color:rgba(245, 222, 179, 0.463);
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
    font-size: 6rem;
  }
h2 {
    font-size: 3rem;
  }

.navbar {
    background-color: rgba(255, 255, 255, 0) !important;
    height: 100px;
    z-index: 2;
}

/*
.nav-item .nav-link a:link,
.nav-link a:visited {
  color: white;
  padding: 3px 10px;
}
*/



.hero-banner img {
    width: 100%;
    height: calc(100vh - 25px);
    position: absolute;
    object-fit: cover;
    margin-top: -100px;
    z-index: 1;
    
    
}

.mugshot-container {
    align-items: center;
    width: 80%;
    height: calc(100vh - 25px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mugshot-text mugshot-photo";
}

.mugshot-text {
    grid-area: mugshot-text;
    position: relative;
    text-align: right;
    padding-right: 30px;
}

.mugshot-photo {
    grid-area: mugshot-photo;
    
}

.mugshot-container img {
    position: relative;
    width: 90%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: grayscale(100%);
    opacity: 80%;
    align-items: start;
}

.mugshot-container h2 {
    text-align: right;
    padding: 0px 50px;
}







.section-title {
    text-align: center;
}




/* Work Section */
.work-wrapper {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-work {
    padding: 2%;
   
}

.card-work .card-container {
    border-radius: 50% ;
    transition: transform .2s;
    border: none;
}

.card-work .card-container:hover {
    transform: scale(1.1);
    
}

.card-img {
    aspect-ratio: 1/1;
    border-radius: 50% ;
    filter: opacity(60%);
    filter: grayscale(100%);
    
}

.card-img:hover {
    filter: grayscale(50%);
}

.card-work .card-content {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    width: 60%;
}

.card-work .card-content {
    justify-items: center;
}


/* Skill Section */


.skill-wrapper {
    margin-top: 80px;
    width: 80%;
    
}

.card-skill .card-container {
    background-color: var(--primary-color);
    aspect-ratio: 1/1;
    border: none;
    color: var(--text-color-light);
    text-align: center;
    border-radius: 50% ;
    
}

.card-skill .card-body {
    text-align: center;
    align-self: center;
    justify-self: center;
    top: 50%;
    transform: translateY(33%);
   
}

.card-skill .card-text {
    
}


/* Contact Section */
.contact-wrapper {
    width: 80%;
}

.contact-links {
    display: flex;
    min-height: 5rem;
    justify-content: space-around;
    align-items: center;
}




